.normalSeat {
    background-color: rgb(114, 46, 209);
}
.vipSeat {
    background-color: rgb(220,38,38);
}
.bookedSeat {
    background-color: rgb(64,64,64);
}
.bookingSeat {
    background-color: rgb(219,39,119);
}
.myBookedSeat {
    background-color: rgb(21,128,61);
}