.movieItem {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.movieItem:hover {
    transform: scale(1.02);
}

.button:hover {
    background-color: #c1177c;
    transition: all 0.2s ease-in-out;
}
.detailBtn:hover {
    background-color: #ccc;
    color: #000;
    transition: all 0.2s ease-in-out;
}
.title {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.title:hover {
    color: #c1177c;
}